.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #FA8072;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 12px 16px; /* Increased padding for larger buttons */
  font-size: 1.2rem; /* Optional: Adjust font size for better proportion */
  border: none;
  font-family: "Metropolis", Arial, sans-serif; /* Ensure consistent font */
  font-weight: bold;
  border-radius: 50px;
  background-color: #FA8072;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-buttons button:hover {
  background-color: #6D712e;
  color: lavender;
}

.home-logo{
  text-decoration: none;
}